.question{
    margin: 20px;
    background-color: lightslategray;
    border-radius: 10px;
}

span{
    color: mediumvioletred;
    font-style: normal;
}
summary{
    font-size: 20px;
    font-family: cursive;
}
/* 7 */
.container{
    display: flex;
    flex-direction: row;
}
.card{
    width: 100px;
    height: 100px;
    background-color: chocolate;
    margin: 20px;
}
/* 8 */
.question_08{
    font-size: 20px;
    color: wheat;
}
.grid_container{
    width: 100%;
}

#window, #document{
    font-style: italic;
    width: 50%;
    background-color: black;
    color: beige;
}
td{
    font-size: 20px;
    border: 2px solid green;
    background-color: chartreuse;
    margin: 0px;
}
/* 9 */

.time{
    width: 100%;
    height: 150px;
    background-color: aqua;
    box-shadow: 10px 10px 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.timeBox{
    background-color: ghostwhite;
    width: 20%;
    height: 100px;
}
#hrs, #mins, #secs{
    color: darkorange;
    display: flex;
    justify-content: center;
    font-size: 25px;
}
#HrH, #minH, #secH{
    display: flex;
    justify-content: center;
}

.time_colon{
    font-size: 30px;
}

